.superInput {
    margin: 10px;
    border: 2px solid #0fff00;
    background: #ffffff;
}

.errorInput {
    margin: 10px;
    border: 2px solid #ff0000;
    background: #ffffff;
}

.error {
    margin-left: 10px;
    color: #ff0000;
}